<!-- Story Creator Dialog -->
<p-dialog modal="true" header="Create New Story" [(visible)]="displayStoryCreator"
          width="450" height="450" responsive="true" (keyup.enter)="createStory()">
    <table>
        <tbody>
            <tr>
                <td><label>Title</label></td>
                <td><input pInputText type="text" [(ngModel)]="title" /></td>
            </tr>
            <tr>
                <td><label>Summary</label></td>
                <td><textarea pInputTextArea [(ngModel)]="summary"></textarea></td>
            </tr>
            <tr>
                <td><label>Wiki</label></td>
                <td><p-dropdown [options]="wikis" [(ngModel)]="newWiki"></p-dropdown></td>
            </tr>
            <tr *ngIf="newWiki == 'new_wiki'">
                <td><label>New Wiki Title</label></td>
                <td><input pInputText type="text" [(ngModel)]="newWikiTitle" /></td>
            </tr>
            <tr *ngIf="newWiki == 'new_wiki'">
                <td><label>New Wiki Summary</label></td>
                <td><textarea pInputTextarea [(ngModel)]="newWikiSummary"></textarea></td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td>
                    <button pButton type="button" label="Create Story" (click)="createStory()"
                            [disabled]="!(title && (newWiki != 'new_wiki' || newWikiTitle))"></button>
                </td>
            </tr>
        </tbody>
    </table>
</p-dialog>

<!-- Story Deleter Dialog -->
<p-dialog modal="true" header="Delete Story" [(visible)]="displayStoryDeleter"
          width="450" height="450" responsive="true">
    <button pButton type="button" label="Cancel" (click)="displayStoryDeleter = false"></button>
    <button pButton type="button" label="Delete" (click)="deleteStory()"></button>
</p-dialog>

<!-- User Stories -->
<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">
        <div class="ui-grid-col-9">
            <p-dataGrid [value]="data.stories" [paginator]="true" [rows]="6">
                <header>{{data.user.name}}'s Stories</header>
                <template let-story>
                    <div class="ui-g-12 ui-md-4">
                        <div *ngIf="story.story_id">
                            <p-panel styleClass="story-tile" (click)="selectStory(story)">
                                <header>
                                    {{story.title}}
                                </header>
                                <div>
                                    <i class="fa fa-book" [ngStyle]="{'color': randomColor(story.title)}"></i>
                                    <i class="fa fa-trash" (click)="openStoryDeleter($event, story.story_id)"></i>
                                </div>
                            </p-panel>
                        </div>

                        <div *ngIf="!story.story_id">
                            <p-panel styleClass="new-story-tile" (click)="openStoryCreator()">
                                <header>Create Story</header>
                                <div><i class="fa fa-plus-square-o"></i></div>
                            </p-panel>
                        </div>
                    </div>
                </template>
            </p-dataGrid>
        </div>

        <div class="navigation ui-grid-col-3">
            <div class="user-info">
                <div class="user-info-fields">
                    <div class="user-info-label">Username: </div>
                    <div class="user-info-field">
                        <p-inplace closeable="true" [active]="active.username">
                            <span pInplaceDisplay>{{data.user.username}}</span>
                            <span pInplaceContent>
                                <input pInputText type="text" value="data.user.username" />
                                <button pButton icon="fa-check" (click)="save('username')"></button>
                            </span>
                        </p-inplace>
                    </div><br />
                    <div class="user-info-label">Name: </div>
                    <div class="user-info-field">
                        <p-inplace closeable="true" [active]="active.name">
                            <span pInplaceDisplay>{{data.user.name}}</span>
                            <span pInplaceContent>
                                <input pInputText type="text" value="data.user.name" />
                                <button pButton icon="fa-check" (click)="save('name')"></button>
                            </span>
                        </p-inplace>
                    </div><br />
                    <div class="user-info-label">Email: </div>
                    <div class="user-info-field">
                        <p-inplace closeable="true" [active]="active.email">
                            <span pInplaceDisplay>{{data.user.email}}</span>
                            <span pInplaceContent>
                                <input pInputText type="text" value="data.user.email" />
                                <button pButton icon="fa-check" (click)="save('email')"></button>
                            </span>
                        </p-inplace>
                    </div><br />
                    <div class="user-info-label">Bio: </div>
                    <div class="user-info-field">
                        <p-inplace closeable="true" [active]="active.bio">
                            <span pInplaceDisplay>{{data.user.bio}}</span>
                            <span pInplaceContent>
                                <textarea pInputTextarea [(ngModel)]="data.user.bio"></textarea>
                                <button pButton icon="fa-check" (click)="save('bio')"></button>
                            </span>
                        </p-inplace>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

