<!-- Story Creator Dialog -->
<p-dialog modal="true" header="Create Story" [(visible)]="displayStoryCreator"
          width="450" height="450" responsive="true" (keyup.enter)="createStory()">
    <table>
        <tbody>
            <tr>
                <td><label>Title</label></td>
                <td><input pInputText type="text" [(ngModel)]="title" /></td>
            </tr>
            <tr>
                <td><label>Summary</label></td>
                <td><textarea pInputTextarea [(ngModel)]="summary"></textarea></td>
            </tr>
            <tr>
                <td><label>Wiki</label></td>
                <td><p-dropdown [options]="wikis" [(ngModel)]="newWiki"></p-dropdown></td>
            </tr>
            <tr *ngIf="newWiki == 'newWiki'">
                <td><label>New Wiki Title</label></td>
                <td><input pInputText type="text" [(ngModel)]="newWikiTitle" /></td>
            </tr>
            <tr *ngIf="newWiki == 'newWiki'">
                <td><label>New Wiki Summary</label></td>
                <td><textarea pInputTextarea [(ngModel)]="newWikiSummary"></textarea></td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
    <footer>
        <button pButton type="button" label="Create Story" (click)="createStory()"
                [disabled]="!(title && (newWiki != 'newWiki' || newWikiTitle))"></button>
    </footer>
</p-dialog>

<!-- Story Deleter Dialog -->
<p-dialog modal="true" header="Delete Story" [(visible)]="displayStoryDeleter"
          width="450" height="450" responsive="true">
    Are you sure you want to delete {{deletedStory.title}}?
    <footer>
        <button pButton type="button" label="Delete Story" (click)="deleteStory()"></button>
    </footer>
</p-dialog>

<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">

        <!-- User Stories -->
        <div class="ui-grid-col-9">
            <p-dataGrid [value]="data.stories" [paginator]="true" [rows]="6">
                <header>{{data.user.name}}'s Stories</header>
                <template let-story>
                    <div class="ui-g-12 ui-md-4">
                        <div *ngIf="story.story_id">
                            <p-panel styleClass="story-tile" (click)="selectStory(story)">
                                <header>
                                    {{story.title}}
                                    <div class="subheader">{{story.wiki_summary.title}}</div>
                                </header>
                                <div>
                                    <i class="fa fa-book" [ngStyle]="{'color': randomColor(story.title)}"></i>
                                    <i class="fa fa-trash" (click)="openStoryDeleter($event, story)"></i>
                                </div>
                            </p-panel>
                        </div>

                        <div *ngIf="!story.story_id">
                            <p-panel styleClass="new-story-tile" (click)="openStoryCreator()">
                                <header>
                                    Create Story
                                    <div class="subheader">Using a New or Existing Wiki</div>
                                </header>
                                <div><i class="fa fa-plus-square-o"></i></div>
                            </p-panel>
                        </div>
                    </div>
                </template>
            </p-dataGrid>
        </div>

        <!-- User Info -->
        <div class="navigation ui-grid-col-3">
            <div class="user-info">
                <div class="user-info-fields">
                    <div class="user-info-label">Username: </div>
                    <div class="user-info-field">{{data.user.username}}</div><br />
                    <div class="user-info-label">Name: </div>
                    <div class="user-info-field">
                        <span [ngSwitch]="!!nameActive">
                            <span *ngSwitchCase="false" (click)="edit('name')">
                                {{data.user.name}}
                                <span *ngIf="!data.user.name" class="default-field">
                                    User name goes here
                                </span>
                            </span>
                            <span *ngSwitchCase="true">
                                <input pInputText type="text" [(ngModel)]="data.user.name" />
                                <button pButton icon="fa-check" (click)="save('name')"></button>
                                <button pButton icon="fa-times" (click)="cancel('name')"></button>
                            </span>
                        </span>
                    </div><br />
                    <div class="user-info-label">Email: </div>
                    <div class="user-info-field">
                        <span [ngSwitch]="!!emailActive">
                            <span *ngSwitchCase="false" (click)="edit('email')">
                                {{data.user.email}}
                                <span *ngIf="!data.user.email" class="default-field">
                                    User email goes here
                                </span>
                            </span>
                            <span *ngSwitchCase="true">
                                <input pInputText type="text" [(ngModel)]="data.user.email" />
                                <button pButton icon="fa fa-check" (click)="save('email')"></button>
                                <button pButton icon="fa fa-times" (click)="cancel('email')"></button>
                            </span>
                        </span>
                    </div><br />
                    <div class="user-info-label">Bio: </div>
                    <div class="user-info-field">
                        <span [ngSwitch]="!!bioActive">
                            <span *ngSwitchCase="false" (click)="edit('bio')">
                                {{data.user.bio}}
                                <span *ngIf="!data.user.bio" class="default-field">
                                    User biography goes here
                                </span>
                            </span>
                            <span *ngSwitchCase="true">
                                <textarea pInputTextarea [(ngModel)]="data.user.bio"></textarea>
                                <button pButton icon="fa-check" (click)="save('bio')"></button>
                                <button pButton icon="fa-times" (click)="cancel('bio')"></button>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
