<p-panel>
    <header>Inkweaver by Plotypus</header>
    <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
            <div class="navigation ui-grid-col-3">
                <button pButton type="button" label="Switch" (click)="carousel=!carousel"></button>
            </div>
            <div class="ui-grid-col-9">

                <p-dataGrid *ngIf="!carousel" [value]="data.stories" [paginator]="true" [rows]="6">
                    <header>List of Stories</header>
                    <template let-story>
                        <div class="ui-g-12 ui-md-4">
                            <p-panel styleClass="story-tile" (click)="selectStory(story.story_id)">
                                <header>{{story.title}}</header>
                                <div>
                                    <i class="fa fa-book" [ngStyle]="{'color': randomColor(story.title)}"></i>
                                </div>
                            </p-panel>
                        </div>
                    </template>
                </p-dataGrid>

                <p-carousel *ngIf="carousel" [value]="data.stories" headerText="List of Stories" circular="true" pageLinks="10">
                    <template let-story>
                        <p-panel styleClass="story-tile" (click)="selectStory(story.story_id)">
                            <header>{{story.title}}</header>
                            <div>
                                <i class="fa fa-book" [ngStyle]="{'color': randomColor(story.story_id)}"></i>
                            </div>
                        </p-panel>
                    </template>
                </p-carousel>
            </div>
        </div>
    </div>
</p-panel>
