<div class="editor ui-g-9">
    <div class="loader" *ngIf="data.inflight">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <div [ngClass]="{'loading-editor': data.inflight}">
        <p-editor [(ngModel)]="data.wikiDisplay">
            <header>
                <span class="ql-formats">
                    <button class="ql-link" (click)="openLink()"></button>
                </span>
                <span class="ql-formats">
                    <select class="ql-size"></select>
                    <select class="ql-font"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="+1"></button>
                    <button class="ql-indent" value="-1"></button>
                    <select class="ql-align"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                    <button class="ql-clean"></button>
                </span>
            </header>
        </p-editor>
    </div>
</div>

<div class="navigation ui-g-3">
    <input pInputText #globalFilter type="text" placeholder="Search Wiki Pages" />
    <i class="search fa fa-search"></i>

    <div class="story-title wiki-title" (click)="selectWiki()"
         [ngClass]="{'ui-state-highlight': data.wikiSelected}">
        {{data.wiki.title}}
    </div>
    <p-accordion (onOpen)="setSegment($event)" (onClose)="unsetSegment()">
        <p-accordionTab *ngFor="let segment of data.wiki.segments"
                        [selected]="data.segment.id && segment.id.$oid === data.segment.id.$oid">
            <header>
                {{segment.title}}
            </header>
            <div *ngFor="let page of segment.pages" (click)="selectPage(page)"
                 [ngClass]="{'ui-state-highlight': data.page.id && page.id.$oid === data.pageSummary.id.$oid}">
                {{page.title}}
            </div>
        </p-accordionTab>
    </p-accordion>
    <div *ngFor="let page of data.wiki.pages" (click)="selectPage(page)"
         [ngClass]="{'ui-state-highlight': data.page.id && page.id.$oid === data.pageSummary.id.$oid}">
        {{page.title}}
    </div>
</div>
