<div class="editor ui-g-9">
    <p-editor [(ngModel)]="page"></p-editor>
</div>
<div class="navigation ui-g-3">
    {{structure.title}}
    <p-accordion>
        <p-accordionTab *ngFor="let element of structure.segments" >
            <header>
                {{element.title}}
            </header>
            <p-menu class="ui-accordion-menu" [model]="element.pages"></p-menu>
        </p-accordionTab>
    </p-accordion>

    <p-menu class="ui-accordion-menu" [model]="structure.pages"></p-menu>
    <!---
    <p-accordion>
        <p-accordionTab *ngFor="let tab of tabs;let i = index;">
            <header>
                {{tab.header}}
                <button style="float:right">+</button>
            </header>
            <p-menu class="ui-accordion-menu" [model]="tab.items"></p-menu>
        </p-accordionTab>
    </p-accordion>-->
    <!--[structure]="element"-->
</div>
