        <!-- Stats -->

        <div [ngSwitch]='mode'>

        <!-- Story Stats -->
        <ng-container *ngSwitchCase='true'>
           <h1>Statistics for {{data.section.data.title}}</h1>
           	<h2> Word Count: {{data.stats.word_count}} </h2>
        	<div class="search">
        	    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        	    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
        	</div>
            <p-dataTable [value]="data.stats.word_frequency" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
                <p-column field="word" header="Word" [sortable]="true"></p-column>
                <p-column field="count" header="Word Frequency" [sortable]="true"></p-column>
            </p-dataTable>
        </ng-container>
        <!-- Wiki Stats -->
        <ng-container *ngSwitchCase='false'>
            <h1>Statistics for {{title}}</h1>
            
            <div class="ui-grid-col-2">
            <p-dropdown [options]="statsOptions" [(ngModel)]="selectedOption" 
            (ngModelChange)="onChange($event)"></p-dropdown>
            <p-chips field='label' [(ngModel)]="statSegments" (onRemove)="updateDropdown($event, statSegments)">
                
            </p-chips>
            </div>
            <div class="ui-grid-col-7">
            <p-chart type="line" [data]="pageFreq"></p-chart>
            </div>
        </ng-container>
        </div>

        <!-- Navigation 
        <div class="navigation ui-grid-col-3">
        <p-tabView>
        <p-tabPanel header={{data.story.story_title}}>
            <p-treeTable [value]="data.storyNode"
                         selectionMode="single"
                         [(selection)]="data.statSection"
                         (onNodeSelect)="selectSection($event)">
                <p-column field="title">
                    <template let-col let-node="rowData" pTemplate="body">
                        <span>
                            {{node.data.title | truncate : 25}}
                        </span>
                    </template>
                </p-column>
            </p-treeTable>
        </p-tabPanel>
        
        <p-tabPanel header={{data.segment.title}}>
            <p-treeTable [value]="data.wikiNav" styleClass="treetable-no-header" selectionMode="single" [(selection)]="data.statSegments" (onNodeSelect)="selectSegment($event)">
                    <p-column field="data.title">
                        <template let-node="rowData" pTemplate="body">
                                {{node.data.title}}
                        </template>
                    </p-column>

            </p-treeTable>
        </p-tabPanel>
        </p-tabView>
        </div> -->