<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">

        <!-- Stats -->
        <div class="stats ui-grid-col-9">
            <p-dataTable [value]="wordFreq" scrollable="true" scrollHeight="50%" [rows]="10">
                <p-column field="word" header="Word" [sortable]="true"></p-column>
                <p-column field="count" header="Word Frequency" [sortable]="true"></p-column>
            </p-dataTable>
        </div>

        <!-- Navigation -->
        <div class="navigation ui-grid-col-3">
            <p-treeTable [value]="data.storyNode"
                         selectionMode="single"
                         [(selection)]="data.statSection"
                         (onNodeSelect)="selectSection($event)">
                <p-column field="title">
                    <template let-col let-node="rowData" pTemplate="body">
                        <span>
                            {{node.data.title}}
                        </span>
                    </template>
                </p-column>
            </p-treeTable>
        </div>
    </div>
</div>