/* -------------------- Wiki -------------------- */

.wiki{
    overflow: auto;
    background: white;
}
.wiki .ui-editor-content {
    background: var(--dark-blue);
    border: none;
    color: var(--light-gray);
}

.wiki .ui-panel-titlebar {
    min-height: 1em !important;
}



.wiki .header{
    /* border-bottom: .025em solid var(--light-gray); */
    color: var(--dark-blue);
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    /* font-size: x-large; */
    background: var(--light-gray);
}

.wiki .header h1{
    background: transparent;
    border: none;
    color: var(--dark-blue);
    padding: .25em .5em;
    font-size=x-large;
    margin:0;
    font-weight: normal;
    cursor: pointer;
    font-size: x-large;
}
.wiki .header input{
    width: 30%;
    background: transparent;
    border: none;
    color: var(--dark-blue);
    padding: .5em;
    font-size: x-large;
}

.wiki input {
    width: 25%;
    background: transparent;
    color: var(--dark-gray);
    border: none;
    /* padding: .5em 1em; */
    font-size: larger;
}
.wiki .ui-widget input {
    width: 80%;
    color: var(--dark-blue);
   background: transparent !important;
    border: none;
    text-align: center;
    padding: 0;
    font-size: medium;
}

.wiki .ui-datagrid{
    background:white;
    padding:1em;
}

.wiki .container{
    padding: 1em;
    background:white
}

.wiki .ui-datagrid-content h1{
    font-size: large;
    color: var(--light-gray);
    padding: 0 .5em 0em 2em;
    margin: 0;
    font-weight: normal;
} 

.wiki aliasbox{
    display:inline-block;
}
.wiki .fa {
    color: var(--dark-blue);
    font-size: medium;
}

.wiki .heading{
    padding:.25em 1em;
}

.wiki .heading header{
     border-bottom: .025em solid var(--light-gray);
    color: var(--light-gray);
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: larger;
    padding: .25em .5em;
}

.wiki .ui-g{
    display: initial !important;
}

.wiki .ui-widget-content{
    /* background: var(--dark-blue); */
    text-align: left;
    border:none;
    padding: .25em;
}

.wiki .ui-datagrid .ui-datagrid-header{
   
background: white;
padding: 0 !important;
}

.wiki .ui-datagrid .ui-datagrid-header header{
  
padding: .25em .5em;
  
background: transparent;
  
color: var(--dark-gray);
  
border: none;
  
font-size: x-large;
  
text-align: left;
  
border-bottom: .025em solid var(--light-gray);
  
cursor: default;
}
.wiki .ui-datalist .ui-datalist-data li{
    padding:.25em 0em 0.25em 0em
}
.wiki .ui-datalist .ui-datalist-data div
{
    /* background: var(--light-gray); */
    text-align: left;
    padding: .25em 1em .25em 1em;
    border-radius: 25px;
    cursor:pointer;
    border: 0.125em solid var(--light-gray);
}

.wiki .ui-datalist{
    background:white;
    padding:1em;
}
.wiki .ui-datalist .ui-datalist-header{
    /* font-size: 1.2em; */
    background: white;
    padding: 0 !important;
}

.wiki .ui-datalist .ui-datalist-header header
{
    padding: .25em .5em;
    /* background: transparent; */
    color: var(--dark-gray);
    border: none;
    font-size: x-large;
    text-align: left;
    border-bottom: .025em solid var(--light-gray);
    cursor: default;
}

.wiki h1{
    font-size: 1em;
    color:var(--orange);
    display: inline-block;
    font-weight: bold;
}

.wiki h2{
    font-size: 1em;
    color: var(--dark-blue);
    display: inline-block;
    font-weight: bold;
}

.wiki .text{
    padding: .5em;
    background: white;
    color: var(--dark-blue);
}

.wiki .text p{
    padding: 1% 5% 1% 5%;
    margin: 0;
}