<p-dialog modal="true" header="Adding to {{addTo}}" [(visible)]="showAddDialog"
          width="450" height="450" responsive="true">

    <p-dropdown [options]="addOptions" [(ngModel)]="addContent" filter="true" required="true"></p-dropdown>
    <input type="text" pInputText [(ngModel)]="pageName" />
    <footer>
        <button pButton type="button" label="Create Content" icon="fa fa-link" iconPos="right" (click)="addToWiki($event)"></button>
    </footer>
</p-dialog>

<p-dialog modal="true" header="Create Heading for {{addTo}}" [(visible)]="showAddHeadDialog"
          width="450" height="450" responsive="true">

    Heading: <input type="text" pInputText [(ngModel)]="pageName" />
    Summary: <input type="text" pInputText [(ngModel)]="addContent" />
    <footer>
        <button pButton type="button" label="Create Heading" (click)="createHeading(false)"></button>
        <button pButton type="button" label="Create Another Heading" (click)="createHeading(true)"></button>
    </footer>
</p-dialog>

<p-dialog modal="true" header="Do you want to delete {{toDelete}}" [(visible)]="showDeleteDialog"
          width="450" height="450" responsive="true">
    All the content in {{toDelete}} will be gone.
    <footer>
        <button pButton type="button" label="Yes" (click)="onDeletePage(true)"></button>
        <button pButton type="button" label="Cancel" (click)="onDeletePage(false)"></button>
    </footer>
</p-dialog>

<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">

        <div class="wiki ui-grid-col-9">

            <div class="loader" *ngIf="data.inflight">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>


            <!--Page-->
            <ng-container *ngIf="wikiPage">
                <!--Title -->
                <div class="header" [ngSwitch]='disabled[0]'>
                    <span *ngSwitchCase='true'>
                        <h1 (click)="onDisable(0)">{{wikiPage.title}}</h1>
                        <span class="icons">
                            <button pButton type="button" label="Add Heading" (click)="addHeading()"></button>
                            <button pButton type="button" label="Save" (click)="onSavePage()"></button>
                        </span>

                    </span>
                    <span *ngSwitchCase='false'>
                        <input type="text" pInputText [(ngModel)]="wikiPage.title" [disabled]="disabled[0]" />
                        <i class="fa {{icons[0]}}" (click)="onDisable(0)"></i>
                        <i *ngIf="!disabled[0]" class="fa fa-times" (click)="onCancel(0)"></i>

                    </span>
                </div>


                <!--Alias-->
                <ng-container *ngIf="wikiPage.aliases">
                    <p-dataGrid [value]="wikiPage.aliases" [rows]="3">
                        <header>Aliases</header>
                        <template let-alias pTemplate="item" ;>

                            <div style="display: inline-block;" [ngSwitch]='alias.state'>
                                <span *ngSwitchCase='true'>
                                    <input style="cursor:pointer" type="text" pInputText [(ngModel)]="alias.name" (click)="editAlias(alias)" readonly />
                                    <i class="fa fa-trash-o" (click)="deleteAlias(alias)"></i>
                                </span>
                                <span *ngSwitchCase='false'>
                                    <input type="text" pInputText [(ngModel)]="alias.name" />
                                    <i class="fa {{alias.icon}}" (click)="editAlias(alias)"></i>
                                    <i *ngIf="!alias.state" class="fa fa-times" (click)="cancelAlias(alias)"></i>
                                </span>

                            </div>

                        </template>
                    </p-dataGrid>
                </ng-container>
                <!--Taking care of headings -->
                <div *ngFor="let section of wikiPage.headings; let i = index;">

                    <div class="heading" [ngSwitch]='disabled[i+1]'>

                        <header *ngSwitchCase='true'>
                            <input style="cursor:pointer" type="text" pInputText [(ngModel)]="section.title" (click)="onDisable(i+1)" readonly />
                        </header>

                        <header *ngSwitchCase='false'>
                            <input type="text" pInputText [(ngModel)]="section.title" [disabled]="disabled[i+1]" />
                            <span>
                            <i class="fa {{icons[i+1]}}" (click)="onDisable(i+1)"></i>
                            <i *ngIf="!disabled[i+1]" class="fa fa-times" (click)="onCancel(i+1)"></i>
                            </span>
                           
                        </header>

                    </div>
                    <!--    -->
                    <div [ngSwitch]='wikiPageContent[i+1].active'>
                        <p-editor [(ngModel)]="section.text" *ngSwitchCase='true'>

                            <header>
                                <span class="ql-formats">
                                    <select class="ql-size"></select>
                                    <select class="ql-font"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-indent" value="+1"></button>
                                    <button class="ql-indent" value="-1"></button>
                                    <select class="ql-align"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-script" value="sub"></button>
                                    <button class="ql-script" value="super"></button>
                                    <button class="ql-clean"></button>
                                </span>
                            </header>

                        </p-editor>

                        <div *ngSwitchCase='false' (click)="onEdit(i+1)">
                        <p-editor id="read-only" [(ngModel)]="section.text">
                        </p-editor>
                        </div>

                    </div>
                </div>
                <!--References-->
                <ng-container *ngIf="wikiPage.references">
                    <p-dataList [value]="wikiPage.references">
                        <header>References</header>
                        <template let-ref pTemplate="item">

                            <div [innerHTML]="ref.text" (click)="onReference(ref)"></div>

                        </template>
                    </p-dataList>
                </ng-container>


            </ng-container>
            <div *ngIf="!wikiPage">

                <p-editor [(ngModel)]="data.wikiDisplay">
                    <header>
                        <span class="ql-formats">
                            <select class="ql-size"></select>
                            <select class="ql-font"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="+1"></button>
                            <button class="ql-indent" value="-1"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                            <button class="ql-clean"></button>
                        </span>
                    </header>
                </p-editor>
            </div>
        </div>


        <div class="navigation ui-g-3">
            
             <!--When a category is selected-->
           
            <p-overlayPanel #op appendTo="body">
                <div class="ui-grid-col-3" (click)="onShow()">Delete</div>
            </p-overlayPanel>

             <div class="nav-actions" *ngIf="data.selectedEntry.type == 'category'">
                <!--<div class="ui-grid-col-3" (click)="openSectionRenamer()">Rename</div>-->
                <div class="ui-grid-col-4" (click)="onAddPage(0)">Add Category</div>
                <div class="ui-grid-col-3" (click)="onAddPage(1)">Add Page</div>
                <i class="ui-grid-col-1 fa fa-ellipsis-v" style="float: none" (click)="op.toggle($event)"></i>
            </div>
            <!--When a page is selected-->
            <div class="nav-actions" *ngIf="data.selectedEntry.type == 'page'">
                <!--<div class="ui-grid-col-3" (click)="openSectionRenamer()">Rename</div>-->
                <div class="ui-grid-col-3" (click)="onShow()">Delete</div>
            </div>
            
            <p-treeTable [value]="data.wikiNav" styleClass="treetable-no-header" selectionMode="single" [(selection)]="data.selectedEntry" (onNodeSelect)="onSelected($event)">
                <p-column field="data.title">
                    <template let-node="rowData" pTemplate="body">
                        {{node.data.title}}
                    </template>

                </p-column>
            </p-treeTable>
        </div>
    </div>
</div>