<p-dialog modal="true" header="Create for {{addTo}}" [(visible)]="showAddDialog"
          width="450" height="450" responsive="true">

    <p-dropdown [options]="addOptions" [(ngModel)]="addContent" filter="true" required="true"></p-dropdown>
    <input type="text" pInputText [(ngModel)]="pageName" />
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Create Content" icon="fa-link" iconPos="right" (click)="addToWiki($event)"></button>
        </div>
    </footer>
</p-dialog>

<p-dialog modal="true" header="Create Heading for {{addTo}}" [(visible)]="showAddHeadDialog"
          width="450" height="450" responsive="true">

    Heading: <input type="text" pInputText [(ngModel)]="pageName" />
    Summary: <input type="text" pInputText [(ngModel)]="addContent" />
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Create Heading" icon="fa-link" iconPos="right" (click)="createHeading(false)"></button>
            <button pButton type="button" label="Create Heading & Continue" icon="fa-link" iconPos="right" (click)="createHeading(true)"></button>
        </div>
    </footer>
</p-dialog>

<p-dialog modal="true" header="Do you want to delete {{toDelete}}" [(visible)]="showDeleteDialog"
          width="450" height="450" responsive="true">
    All the content in {{toDelete}} will be gone and impossible to recover.
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Yes" icon="fa-link" iconPos="right" (click)="onDeletePage(true)"></button>
            <button pButton type="button" label="Cancel" icon="fa-link" iconPos="right" (click)="onDeletePage(false)"></button>
        </div>
    </footer>
</p-dialog>

<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">

        <div class="wiki ui-grid-col-9">

            <div class="loader" *ngIf="data.inflight">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>


            <!--Editor-->
            <ng-container *ngIf="wikiPage">
                <!--Title -->
                <span class="header">
                    <input type="text" size="30" pInputText [(ngModel)]="wikiPage.title" [disabled]="disabled[0]" />
                    <button pButton type="button" [icon]="icons[0]" (click)="onDisable(0)"></button>
                    <button *ngIf="!disabled[0]" pButton type="button" icon="fa-times" (click)="onCancel(0)"></button>
                    <button pButton type="button" icon="fa-plus" (click)="addHeading()"></button>
                </span>
                <!--Alias-->
                <ng-container *ngIf="wikiPage.aliases">
                    <p-dataGrid [value]="wikiPage.aliases" [rows]="3">
                        <header style="color:var(--light-gray); text-align: left;">Aliases</header>
                        <template let-alias pTemplate="item" ;>
                            <div class="ui-g-12 ui-md-4">
                                <p-panel class="ui-g-6">
                                    <header>
                                        <input type="text" size="30" pInputText [(ngModel)]="alias.name" [disabled]="alias.state" />
                                    </header>
                                    <div>
                                         <i class="fa {{alias.icon}}" (click)="editAlias(alias)"></i>
                                         <i *ngIf="!alias.state" class="fa fa-times" (click)="cancelAlias(alias)"></i>
                                         <i class="fa fa-trash-o" (click)="deleteAlias(alias)"></i>
                                    </div>

                                </p-panel>
                            </div>
                        </template>
                    </p-dataGrid>
                </ng-container>
                <!--Taking care of headings -->
                <div *ngFor="let section of wikiPage.headings; let i = index;">
                    <span>
                        <input type="text" size="30" pInputText [(ngModel)]="section.title" [disabled]="disabled[i+1]" />
                        <button pButton type="button" [icon]="icons[i+1]" (click)="onDisable(i+1)"></button>
                        <button *ngIf="!disabled[i+1]" pButton type="button" icon="fa-times" (click)="onCancel(0)"></button>
                    </span>
                    <p-editor [(ngModel)]="section.text">
                    </p-editor>

                </div>
                <!--References-->
                <ng-container *ngIf="wikiPage.references">
                    <p-dataList [value]="wikiPage.references">
                        <header style="color:var(--light-gray); text-align: left;">References</header>
                        <template let-ref pTemplate="item">
                            {{ref.text}}
                        </template>
                    </p-dataList>
                </ng-container>
                <button pButton type="button" icon="fa-floppy-o" (click)="onSavePage()"></button>
                <button pButton type="button" icon="fa-trash-o" (click)="onShow()"></button>
            </ng-container>
            <div *ngIf="!wikiPage">
                <p-editor [(ngModel)]="data.wikiDisplay">
                    <header>
                        <span class="ql-formats">
                            <button class="ql-link" (click)="openLink()"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-size"></select>
                            <select class="ql-font"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="+1"></button>
                            <button class="ql-indent" value="-1"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                            <button class="ql-clean"></button>
                        </span>
                    </header>
                </p-editor>
            </div>
            <!--
            <div [ngClass]="{'loading-editor': data.inflight}">
                <p-editor [(ngModel)]="data.wikiDisplay">
                    <header>
                        <span class="ql-formats">
                            <button class="ql-link" (click)="openLink()"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-size"></select>
                            <select class="ql-font"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="+1"></button>
                            <button class="ql-indent" value="-1"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                            <button class="ql-clean"></button>
                        </span>
                    </header>
                </p-editor>
            </div>-->
        </div>

        <div class="navigation ui-g-3">
            <p-treeTable [value]="data.wikiNav" styleClass="treetable-no-header" selectionMode="single" [(selection)]="selectedEntry" (onNodeSelect)="onSelected($event)">
                <p-column field="data.title">
                    <template let-node="rowData" pTemplate="body">
                        <span *ngIf="node.type == 'page'">
                            {{node.data.title}}

                        </span>
                        <span *ngIf="node.type == 'category'">
                            {{node.data.title}}
                            <button pButton type="button" icon="fa-plus" (click)="onAddPage($event,node)"></button>
                        </span>
                        <span *ngIf="node.type == 'title'">
                            {{node.data.title}}
                            <button pButton type="button" icon="fa-plus" (click)="onAddPage($event,node)"></button>
                        </span>
                    </template>

                </p-column>
            </p-treeTable>
        </div>
    </div>
</div>
