:root {
    --light-gray: #D3D3D3;
    --dark-gray: #939393;
    --light-blue: #252E3B;
    --dark-blue: #14191f;
    --link-blue: #0076FF;
    --orange: #ED6E2B;
    --tan: #fddc9b;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--dark-blue);
}

* {
    font-family: 'Lato', Helvetica, sans-serif;
}

.ui-panel,
.ui-widget,
.ui-widget-header {
    border: none;
}

.ui-panel-titlebar {
    border: none;
    color: var(--light-gray);
    background: var(--dark-blue);
}

.ui-panel,
.ui-panel-content-wrapper,
.ui-panel-content,
.ui-grid,
.ui-grid-row {
    padding: 0 !important;
    height: 100% !important;
    background: var(--dark-blue);
}

.master-menu {
    float: right;
}

/* ----- Navigation ----- */
.navigation {
    padding: 0;
    position: relative;
    z-index: 15 !important;
    background: var(--light-blue);
}

    .navigation table,
    .navigation tr,
    .navigation th,
    .navigation td {
        border: none !important;
        color: var(--light-gray);
        background: var(--light-blue) !important;
    }

    .navigation .ui-state-highlight td {
        color: var(--orange);
        background: var(--dark-blue) !important;
    }

    .navigation .fa-plus-square-o,
    .navigation .fa-minus-square-o {
        float: right;
        padding-top: 1%;
        padding-right: 2%;
    }

/* -------------------- Wiki -------------------- */

.wiki .ui-editor-content {
    background: white;
}

.wiki .ui-panel-titlebar {
    min-height: 1em !important;
}

.wiki .span .ui-widget input {
    width: 25%;
    color: var(--light-gray);
    background-color: var(--light-blue);
    border: none;
}

.wiki .ui-widget input {
    width: 100%;
    color: var(--light-gray);
    background: var(--light-blue) !important;
    border: none;
    font-size: .5em;
    text-align: center;
}

.wiki .fa {
    color: white;
}
