:root {
    --light-gray: #D3D3D3;
    --dark-gray: #939393;
    --light-blue: #252E3B;
    --dark-blue: #14191f;
    --link-blue: #0076FF;
    --orange: #ED6E2B;
    --tan: #fddc9b;
}

html {
    height: 100%;
    font-size: 0.9em;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--dark-blue);
}

/* Top-level panel */
ink-app > p-panel > .ui-panel > .ui-panel-titlebar {
    height: 3em;
}

ink-app > p-panel > .ui-panel > .ui-panel-content-wrapper {
    height: calc(100% - 3em);
}

    ink-app > p-panel > .ui-panel,
    ink-app > p-panel > .ui-panel > .ui-panel-content-wrapper > .ui-panel-content {
        height: 100%;
    }

/* General panel */
.ui-panel, .ui-panel-titlebar,
.ui-widget, .ui-widget-header {
    border: none;
}

.ui-panel-titlebar {
    color: var(--light-gray);
    background: var(--dark-blue);
}

.ui-panel, .ui-panel-content-wrapper, .ui-panel-content,
.ui-grid, .ui-grid-row {
    padding: 0 !important;
    background: var(--dark-blue);
}

/* Header and main menu */
.master-header {
    display: inline-block;
}

.hide-menu {
    display: none;
}

.master-menu {
    float: right;
    display: inline-block;
}

    .master-menu .ui-menubar {
        padding: 0 !important;
        background: var(--dark-blue);
    }

    .master-menu .ui-menuitem {
        margin: 0 !important;
    }

        .master-menu .ui-menuitem :hover {
            background: var(--light-blue);
        }

    .master-menu .ui-menuitem-link {
        border: none;
        padding: 0 1em 0.25em 1em !important;
    }

    .master-menu .ui-menuitem-text {
        color: var(--light-gray);
    }

/* ----- Navigation ----- */
.navigation {
    padding: 0;
    height: 100%;
    position: relative;
    z-index: 15 !important;
    background: var(--light-blue);
}

    .navigation table,
    .navigation tr,
    .navigation th,
    .navigation td {
        border: none !important;
        color: var(--light-gray);
        background: var(--light-blue) !important;
    }

    .navigation .ui-state-highlight td {
        color: var(--orange);
        background: var(--dark-blue) !important;
    }

.inline-button .ui-button-text {
    background: var(--dark-blue);
}
