/* Story */
story > p-panel > .ui-panel {
    height: 100%;
}

    story > p-panel > .ui-panel > .ui-panel-titlebar {
        text-align: center;
        padding: 0 !important;
        background: linear-gradient(to bottom, var(--light-blue), var(--dark-blue));
    }

.title {
    height: 4em;
    font-size: 1.75em;
    text-transform: uppercase;
}

    .title > p {
        font-size: 0.75em;
        margin: 1em 0 0 0;
    }

story > p-panel > .ui-panel > .ui-panel-content-wrapper {
    height: calc(100% - 7em) !important;
}

    story > p-panel > .ui-panel > .ui-panel-content-wrapper > .ui-panel-content {
        height: 100%;
    }

/* Menu */
.menu-tabs {
    height: 100%;
    font-size: 1.75em;
}

.menu {
    right: 0;
    padding: 0;
    height: 4em;
    font-size: 1.75em;
    position: absolute;
}

    .menu .ui-widget-header {
        background: linear-gradient(to bottom, var(--light-blue), var(--dark-blue)) !important;
    }

    .menu .ui-tabmenu, .menu .ui-tabmenu-nav {
        padding: 0;
        height: 100%;
        border-radius: 0px;
    }

    .menu .ui-tabmenuitem {
        width: 50%;
        height: 100%;
        border: none;
        margin: 0 !important;
        background: linear-gradient(to bottom, var(--light-blue), var(--dark-blue)) !important;
    }

        .menu .ui-tabmenuitem.ui-state-active {
            z-index: 5;
            background: var(--light-blue) !important;
            box-shadow: 0 0 10px 2px var(--dark-blue);
        }

    .menu .ui-menuitem-link {
        width: 100%;
        padding: 0 !important;
    }

    .menu .ui-menuitem-icon {
        font-size: 1.2em;
        margin-top: 0.5em;
        color: var(--dark-gray);
    }

    .menu .ui-state-active .ui-menuitem-icon {
        color: var(--light-gray);
    }

p-togglebutton {
    float: right;
    padding: 1em;
}
