<p-dialog id="dialog" *ngIf="pdf" modal="true" header="Create PDF" [(visible)]="pdf"
    width="600" height="700" responsive="true">
    PDF Name  <input type="text" pInputText [(ngModel)]="name" />
    Page Width (inches) <input type="number" pInputText [(ngModel)]="width" />
    Page Height (inches) <input type="number" pInputText [(ngModel)]="height" />

    <footer>

        <button pButton type="button" label="Create PDF" (click)="createPDF()"></button>
        
    </footer>
</p-dialog>


<p-panel>
    <header>
        <div class="title ui-g-9">
            <!-- Collaborators -->
            <div class="collaborators">
                <button type="button" pButton label="Collaborators" (click)="collab = !collab"></button>
                <div *ngIf="collab">
                    <p-listbox [options]="data.collaborators" [(ngModel)]="collaborator">
                        <template let-collaborator pTemplate="item">
                            <div [ngSwitch]="!!collaborator.value">
                                <div *ngSwitchCase="true">
                                    {{collaborator.label}}
                                    <button pButton *ngIf="collaborator.label !== data.user.username"
                                            icon="fa-times" (click)="removeCollaborator(collaborator.value)"></button>
                                </div>
                                <div *ngSwitchCase="false">
                                    <input type="text" pInputText [(ngModel)]="newUsername" />
                                    <button pButton icon="fa-check"
                                            (click)="addCollaborator(newUsername)"></button>
                                </div>
                            </div>
                        </template>
                    </p-listbox>
                </div>
            </div>

            <div class="pdf">
                <button type="button" pButton label="Export PDF" (click)="pdf = !pdf"></button>
            </div>
            <!-- Title -->
            <span [ngSwitch]="!!editing">
                <span *ngSwitchCase="false" (click)="edit()">
                    {{data.story.story_title}}
                </span>
                <span *ngSwitchCase="true">
                    <input pInputText type="text" [(ngModel)]="data.story.story_title" />
                    <button class="inline-button" pButton icon="fa fa-check" (click)="save()"></button>
                    <button class="inline-button" pButton icon="fa fa-times" (click)="cancel()"></button>
                </span>
            </span>
            <p>By: {{data.user.name}}</p>
        </div>
        <div class="menu ui-g-3">
            <div class="menu-tabs">
                <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</p-panel>