:root {
  --light-gray: #d3d3d3;
  --dark-gray: #939393;
  --light-blue: #252e3b;
  --dark-blue: #14191f;
  --link-blue: #0076ff;
  --orange: #ed6e2b;
  --tan: #fddc9b;
}

html {
  height: 100%;
  font-size: 0.9em;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--dark-blue);
}

/* Top-level panel */
inkweaver > p-panel > .ui-panel > .ui-panel-titlebar {
  height: 3em;
}

inkweaver > p-panel > .ui-panel > .ui-panel-content-wrapper {
  height: calc(100% - 3em);
}

inkweaver > p-panel > .ui-panel,
inkweaver
  > p-panel
  > .ui-panel
  > .ui-panel-content-wrapper
  > .ui-panel-content {
  height: 100%;
}

/* General panel */
.ui-panel,
.ui-panel-titlebar,
.ui-widget,
.ui-widget-header {
  border: none;
}

.ui-panel-titlebar {
  color: var(--light-gray);
  background: var(--dark-blue);
}

.ui-panel,
.ui-panel-content-wrapper,
.ui-panel-content,
.ui-grid,
.ui-grid-row {
  padding: 0 !important;
  background: var(--dark-blue);
}

/* Header and main menu */
.master-header {
  display: inline-block;
}

.master-menu {
  float: right;
  display: inline-block;
}

.master-menu .ui-menubar {
  padding: 0 !important;
  background: var(--dark-blue);
}

.master-menu .ui-menuitem {
  margin: 0 !important;
}

.master-menu .ui-menuitem :hover {
  background: var(--light-blue);
}

.master-menu .ui-menuitem-link {
  border: none;
  padding: 0 1em 0.25em 1em !important;
}

.master-menu .ui-menuitem-text {
  color: var(--light-gray);
}

/* ----- Navigation ----- */
.navigation {
  padding: 0;
  height: 100%;
  position: relative;
  z-index: 15 !important;
  background: var(--light-blue);
  overflow-y: auto;
}

.navigation table,
.navigation tr,
.navigation th,
.navigation td {
  border: none !important;
  color: var(--light-gray);
  background: var(--light-blue) !important;
}

.navigation .ui-state-highlight td {
  color: var(--orange);
  background: var(--dark-blue) !important;
}

.inline-button .ui-button-text {
  background: var(--dark-blue);
}

/* Main menu */
.no-story p-menubar div p-menubarsub ul li:nth-child(1),
.no-story p-menubar div p-menubarsub ul li:nth-child(2),
.no-story p-menubar div p-menubarsub ul li:nth-child(3) {
  display: none !important;
}

.no-user.no-story p-menubar div p-menubarsub ul li:nth-child(4) {
  display: none !important;
}

/* Collaborators */
.collaborators {
  z-index: 10;
  position: absolute;
}

.collaborators .ui-listbox {
  width: 100%;
}

.collaborators button {
  color: var(--light-blue) !important;
  background: var(--light-gray) !important;
}

.collaborators p-listbox,
.collaborators p-listbox .ui-state-highlight,
.collaborators p-listbox .ui-state-hover {
  background: white;
  color: var(--dark-blue);
  border: none !important;
}

.collaborators p-listbox button {
  float: right;
  background: white !important;
  color: var(--light-blue) !important;
}

/* PDF */
.margins {
  width: 100%;
  display: inline-block;
  padding: 0.25em 0em;
}

.margins div {
  float: left;
  width: 50%;
  padding: 0.25em;
  /* display:inline-block; */
}

.margins div input {
  width: 50% !important;
  float: right;
}

.pdfName {
  width: 100%;
  display: inline-block;
  padding: 0.25em;
}

.pdfName input {
  width: 70% !important;
}

.page {
  width: 100%;
  display: inline-block;
}

.page div {
  padding: 0.25em;
}

.page div input {
  width: 45% !important;
}
