.login {
  top: 25%;
  left: 25%;
  width: 50%;
  position: absolute;
  text-align: center;
}

.login .ui-panel-titlebar {
  color: var(--dark-blue);
  background: var(--light-gray);
}

.login .ui-grid {
  background: white;
  padding: 0 2em 2em 2em !important;
}

.login .ui-grid-row {
  background: white;
  color: var(--light-blue);
  padding-top: 2em !important;
}

.login-row {
  text-align: left;
}

.login-warn {
  text-align: left;
  color: var(--orange);
}

.login a {
  cursor: pointer;
  color: var(--link-blue);
}
