<div class="login">
    <p-panel header="Sign In">
        <form (ngSubmit)="signIn()" #loginForm="ngForm">
            <table>
                <tbody>
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td>
                            <input type="text" [(ngModel)]="login.username" required
                                   id="username" name="username" #username="ngModel" autofocus>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="login-warn" [hidden]="username.valid || username.pristine">
                                Username is required
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td>
                            <input type="password" [(ngModel)]="login.password" required
                                   id="password" name="password" #password="ngModel">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="login-warn" [hidden]="password.valid || password.pristine">
                                Password is required
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button pButton type="submit" label="Sign In"
                                    [disabled]="!loginForm.form.valid"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </p-panel>
</div>
