<div class="editor ui-g-9">
    <p-editor [(ngModel)]="data.display"></p-editor>
</div>
<div class="navigation ui-g-3">
    <input #gb type="text" pInputText placeholder="Search Chapter Titles">
    <i class="search fa fa-search"></i>
    <p-dataTable [value]="data.story.chapters"
                 selectionMode="single"
                 [(selection)]="data.selectedChapter"
                 (onRowSelect)="switchChapter($event)"
                 [globalFilter]="gb">
        <p-headerColumnGroup>
            <p-row>
                <p-column [header]="data.story.title"></p-column>
            </p-row>
        </p-headerColumnGroup>
        <p-column field="title"></p-column>
    </p-dataTable>
</div>
