<kendo-panelbar>
    <kendo-panelbar-item title="My Great Story" icon="folder" expanded="true">
        <kendo-panelbar-item title="Chapter 1" icon="file"></kendo-panelbar-item>
        <kendo-panelbar-item title="Chapter 2" icon="file"></kendo-panelbar-item>
        <kendo-panelbar-item title="Chapter 3" icon="file"></kendo-panelbar-item>
        <kendo-panelbar-item title="Chapter 4" icon="file"></kendo-panelbar-item>
        <kendo-panelbar-item title="Chapter 5" icon="file"></kendo-panelbar-item>
    </kendo-panelbar-item>
</kendo-panelbar>
