<div class="editor ui-g-9">
    <!-- Link Creator Dialog -->
    <p-dialog modal="true" header="Create Link" [(visible)]="displayLinkCreator" width="450" height="450" responsive="true">
        <p-dropdown [options]="newLinkPages" [(ngModel)]="newLinkId" filter="true"></p-dropdown>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button pButton type="button" label="Create Link" icon="fa-link" iconPos="right" (click)="createLink()"></button>
            </div>
        </footer>
    </p-dialog>

    <!-- Editor -->
    <ckeditor [(ngModel)]="display"
              [config]="{allowedContent: 'button[!(click)]'}" debounce="500"></ckeditor>

    <!-- Word Count -->
    <div class="stats">Word Count: {{wordCount}}</div>
</div>

<!-- Navigation -->
<div class="navigation ui-g-3">
    <input pInputText #globalFilter type="text" placeholder="Search Chapter Titles" />
    <i class="search fa fa-search"></i>

    <p-dataTable [value]="data.story.chapters"
                 selectionMode="single"
                 [globalFilter]="globalFilter"
                 [(selection)]="data.selectedChapter"
                 (onRowSelect)="selectChapter($event)">
        <p-column field="title">
            <template pTemplate type="header">
                <div (click)="selectStory()" class="story-title" [ngClass]="{'ui-state-highlight':data.storySelected}">
                    {{data.story.title}}
                </div>
            </template>
        </p-column>
    </p-dataTable>
</div>

<!--
/**
     * Set the display for the story
     */
    public setStoryDisplay() {
        this.data.display =
            "<h1>Title</h1><h2>" + this.data.story.title + "</h2><br>" +
            "<h1>Owner</h1><h2>" + this.data.story.owner + "</h2><br>" +
            "<h1>Synopsis</h1><h2>" + this.data.story.synopsis + "</h2><br>" +
            "<h1>Chapters</h1>";
        for (let chapter of this.data.story.chapters) {
            this.data.display += "<h2>" + chapter.title + "</h2>";
        }
        this.data.display += "<br>";
    }
    /**
     * Set the disply for the wiki
     */
    public setWikiDisplay() {
        this.data.wikiDisplay =
            "<h1>Title</h1><h2>" + this.data.wiki.title + "</h2><br>" +
            "<h1>Segments</h1>";
        for (let segment of this.data.wiki.segments) {
            this.data.wikiDisplay += "<h2>" + segment.title + "</h2>";
        }
        this.data.wikiDisplay += "<br>";
    }

    /**
     * Set the wiki diplay to a specific page
     * @param page - page to be displayed
     */
    public setPageDisplay(page: Page) {
        this.data.wikiDisplay =
            "<h1>Name</h1><h2>" + page.title + "</h2><br>" +
            "<h1>Aliases</h1>";
        for (let alias of page.aliases) {
            this.data.wikiDisplay += "<h2>" + alias + "</h2>";
        }
        this.data.wikiDisplay += "<br>";
        for (let section of page.sections) {
            this.data.wikiDisplay += "<h1>" + section.title + "</h1>";
            for (let paragraph of section.paragraphs) {
                this.data.wikiDisplay += "<h2>" + paragraph.text + "</h2>";
            }
            this.data.wikiDisplay += "<br>";
        }
        this.data.wikiDisplay += "<h1>References</h1>";
        for (let reference of page.references) {
            this.data.wikiDisplay += "<h2>" + reference + "</h2>";
        }
        this.data.wikiDisplay += "<br>";
    }
-->
