<p-tabView orientation="right">
    <p-tabPanel header="Chapter 1">
        Chapter 1<br /><br />Luke Skywalker and Ben Kenobi decided to go to the local spaceport, Mos Eisley, to find a pilot. The trip was uneventful. As they arrived, Ben exclaimed "Never before have I seen a more wretched hive of scum and villainy."<br /><br />So they turned around and went home.
    </p-tabPanel>
    <p-tabPanel header="Chapter 2">
        Chapter 2<br /><br />Back at home, Luke asked Ben what he should do about the cute girl he had met in school the previous day, but Ben seemed to not want to talk about it.
    </p-tabPanel>
    <p-tabPanel header="Chapter 3">
        Chapter 3
    </p-tabPanel>
</p-tabView>