<!-- Link Creator Dialog -->
<p-dialog modal="true" header="Create Link" [(visible)]="displayLinkCreator" (onAfterShow)="showDialog()" (onBeforeHide)="hideDialog()"
          width="450" height="450" responsive="true" (keyup.enter)="createLink()">

    <input type="text" pInputText [(ngModel)]="word" />
    <p-dropdown [options]="newLinkPages" [(ngModel)]="newLinkId" filter="true"></p-dropdown>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Create Link" icon="fa-link" iconPos="right" (click)="createLink()"></button>
        </div>
    </footer>
</p-dialog>

<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">

        <!-- Editor -->
        <div class="editor ui-grid-col-9">
            <div class="loader" *ngIf="data.inflight">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div [ngClass]="{'loading-editor': data.inflight}">
                <p-editor [(ngModel)]="data.storyDisplay">
                    <header>
                        <span class="ql-formats">
                            <button class="ql-link" (click)="openLink()"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-size"></select>
                            <select class="ql-font"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="+1"></button>
                            <button class="ql-indent" value="-1"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                            <button class="ql-clean"></button>
                        </span>
                    </header>
                </p-editor>

                <!-- Word Count -->
                <div class="stats">Word Count: {{wordCount}}</div>
            </div>
        </div>

        <!-- Navigation -->
        <div class="navigation ui-grid-col-3">
            <p-treeTable [value]="data.storyNode"
                         selectionMode="single"
                         [(selection)]="selectedSection"
                         (onNodeSelect)="selectSection($event)">
                <p-column field="title"></p-column>
            </p-treeTable>
        </div>
    </div>
</div>
