.editor {
    padding: 0;
    z-index: 15;
    position: relative;
}

    .editor > div, .ui-editor-container {
        height: 85% !important;
    }

.loading-editor {
    filter: blur(2px);
}

.loader {
    top: 40%;
    width: 100%;
    z-index: 10;
    font-size: 2em;
    text-align: center;
    position: absolute;
    color: var(--dark-blue);
}

.ui-editor-toolbar {
    border-radius: 0;
    background: var(--light-gray) !important;
}

.ql-expanded ::before {
    color: black !important;
}

.ql-save .ui-button {
    margin: 4px;
    padding: 0 !important;
    width: 8% !important;
    float: right !important;
}

.ql-save .ui-button-text {
    padding: 0 10px 0 10px !important;
}

.editor .ui-editor-content {
    background: white;
    height: calc( 100% - 50px );
}

.ui-editor-content p {
    padding: 1% 5% 1% 5%;
}

.ui-editor-content h1 {
    margin: 2%;
    color: var(--dark-gray);
    border-bottom: 1px solid var(--light-gray);
}

.ui-editor-content h2 {
    padding: 2%;
    color: var(--light-blue);
}

.ui-editor-content h3 {
    margin: 2% 5% 0 5%;
    font-weight: normal;
}

.ui-editor-content ul {
    margin: 0 5% 0 5%;
}

.ql-link {
    height: 2em !important;
}

    .ql-link path, .ql-link line {
        stroke: var(--link-blue) !important;
    }

.ql-editor a {
    cursor: pointer;
    color: var(--link-blue) !important;
}

.ql-tooltip {
    visibility: hidden;
}

.tooltip {
    position: absolute;
    padding: 0.5em;
    background: floralwhite;
    font-size: 0.8em;
    border-radius: 2px;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
    max-width: 50%;
}

    .tooltip button {
        float: right;
        margin-top: 0.5em !important;
        color: var(--light-blue) !important;
        background: var(--light-gray) !important;
    }

.suggest {
    position: absolute;
    font-size: 0.8em;
    border-radius: 2px;
    border: 1px solid var(--dark-blue);
}

    .suggest .ui-listbox {
        width: 100%;
    }

    .suggest .ui-state-highlight, .suggest .ui-state-hover {
        border: none;
    }

.edit-title input {
    width: 65%;
}

.edit-title button {
    width: 8%;
    background: var(--dark-blue) !important;
}

.nav-actions {
    cursor: default;
    text-align: center;
    font-style: italic;
    color: var(--dark-gray);
    padding: 1em 0.5em 1em 0.5em;
}

    .nav-actions div {
        cursor: pointer;
    }

    .nav-actions i {
        cursor: pointer;
    }


.navigation hr {
    width: 90%;
    border-color: var(--dark-gray);
}

.section-drag {
    width: 50%;
    display: inline-block;
    border-top: 1px solid var(--light-gray);
}

.bookmarks .ui-treetable-toggler {
    visibility: hidden !important;
}

.bookmarks .bookmark-header {
    left: -1em;
    position: relative;
}

.bookmark-header i {
    margin-right: 0.5em;
}

code {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    color: floralwhite;
    border: 1px solid yellow;
    background: floralwhite !important;
}
