<p-contextMenu #contextMenu [model]="items"></p-contextMenu>

<!-- Link Creator Dialog -->
<p-dialog modal="true" header="Create New Link" [(visible)]="displayLinkCreator"
          width="450" height="450" responsive="true" (keyup.enter)="createLink()">
    <input pInputText type="text" #link [(ngModel)]="word" />
    <p-dropdown [options]="newLinkPages" [(ngModel)]="newLinkID" filter="link"></p-dropdown><br />

    <div class="modal-label" *ngIf="!newLinkID">Category Of Your New Wiki Page</div>
    <p-dropdown [options]="newSegments" [(ngModel)]="newSegmentID" *ngIf="!newLinkID" filter="segment"></p-dropdown>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Create Link" icon="fa fa-link" iconPos="right" (click)="createLink()"></button>
        </div>
    </footer>
</p-dialog>

<!-- Add Section Dialog -->
<p-dialog modal="true" header="Add New Section" [(visible)]="displaySectionCreator"
          width="450" height="450" responsive="true" (keyup.enter)="addSection()">
    <input pInputText type="text" [(ngModel)]="sectionTitle" />
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Add Section" (click)="addSection()"></button>
        </div>
    </footer>
</p-dialog>

<!-- Edit Section Title Dialog -->
<p-dialog modal="true" header="Edit Section Title" [(visible)]="displaySectionEditor"
          width="450" height="450" responsive="true" (keyup.enter)="editSectionTitle()">
    <input pInputText type="text" [(ngModel)]="sectionTitle" />
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Rename Section" (click)="editSectionTitle()"></button>
        </div>
    </footer>
</p-dialog>

<!-- Delete Section Dialog -->
<p-dialog modal="true" header="Delete Section" [(visible)]="displaySectionDeleter"
          width="450" height="450" responsive="true" (keyup.enter)="deleteSection()">
    Are you sure you want to delete {{deleteNode.data.title}}?
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" label="Delete Section" (click)="deleteSection()"></button>
        </div>
    </footer>
</p-dialog>

<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">

        <!-- Editor -->
        <div class="editor ui-grid-col-9">
            <div class="loader" *ngIf="data.inflight">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div [ngClass]="{'loading-editor': data.inflight}">
                <p-editor [(ngModel)]="data.storyDisplay" (blocked)="displayLinkCreator || displaySectionCreator || displaySectionEditor">
                    <header>
                        <span class="ql-formats">
                            <button class="ql-link" (click)="openLink()"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-size"></select>
                            <select class="ql-font"></select>
                            <select class="ql-color"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="+1"></button>
                            <button class="ql-indent" value="-1"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                            <button class="ql-clean"></button>
                        </span>
                        <span class="ql-save">
                            <button pButton type="button" label="Save" (click)="save()"></button>
                        </span>
                    </header>
                </p-editor>

                <div class="tooltip" [innerHTML]="data.tooltip.text" [ngStyle]="{'display': data.tooltip.display,'top': data.tooltip.top, 'left': data.tooltip.left}"></div>
                <div class="suggest" [ngStyle]="{'display': suggest.display,'top': suggest.top, 'left': suggest.left}">
                    <p-listbox [options]="suggest.options" [(ngModel)]="suggest.value"></p-listbox>
                </div>

                <!-- Word Count -->
                <div class="stats">Word Count: {{wordCount}}</div>
            </div>
        </div>

        <!-- Navigation -->
        <div class="navigation ui-grid-col-3">
            <p-treeTable [value]="data.storyNode"
                         selectionMode="single"
                         [(selection)]="data.section"
                         (onNodeSelect)="selectSection($event)">
                <p-column field="title">
                    <template let-col let-node="rowData" pTemplate="body">
                        <span pDraggable="treedragdrop"
                              pDroppable="treedragdrop"
                              (onDragStart)="onDragStart($event, node)"
                              (onDragEnd)="onDragEnd($event, node)"
                              (onDrop)="onDrop($event, node)"
                              (contextmenu)="setContextMenu(node); contextMenu.show($event); $event.stopPropagation()">
                            {{node.data.title | truncate : 25}}
                        </span>
                    </template>
                </p-column>
            </p-treeTable>
            <div class="bookmarks">
                <div class="add-bookmark" (click)="addBookmark('Bookmark')">
                    <i class="fa fa-bookmark"></i> Bookmark Cursor Position
                </div>
                <div>Bookmarks</div>
                <div class="bookmarks-content">
                    <div *ngFor="let bookmark of data.bookmarks" (click)="goToBookmark(bookmark)">
                        {{bookmark.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
